<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to Dashboard</h1>
    <!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>

    

    <br><br>

    

    <a href="/upload"><button>Upload Demo Documents</button></a>
    <br><br>

    <a href="/verify"><button>Verify Documents</button></a>
    <br><br>

    <a href="/status"><button>View Status</button></a>
    <br><br>

    <a href="/"><button>Logout</button></a>

</body>
</html>
</body>
</html>
